<header class="ltn__header-area ltn__header-3 section-bg-6---">

    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area" style="background-color: #ffd400">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="site-logo">
                        <a href="/"><img style="height: 105px" th:src="@{/img/icons/icon-img/MODAL PLANE (2) (1)_preview_rev_1.png}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col header-contact-serarch-column d-none d-xl-block">
                    <div class="header-contact-search">
                        <!-- header-feature-item -->
                        <div class="header-feature-item d-none">
                            <div class="header-feature-icon">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="header-feature-info">
                                <h6>Phone</h6>
                                <p><a href="tel:0963876226">0963876226</a></p>
                            </div>
                        </div>
                        <!-- header-search-2 -->
                        <div class="header-search-2">
                            <form id="#123" method="get" action="#">
                                <input type="text" name="search" value="" placeholder="Search here..."/>
                                <button type="submit">
                                    <span><i class="icon-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- header-options -->
                    <div class="ltn__header-options">
                        <ul>
                            <li class="d-none">
                                <!-- ltn__currency-menu -->
                                <div class="ltn__drop-menu ltn__currency-menu">
                                    <ul>
                                        <li><a href="#" class="dropdown-toggle"><span class="active-currency">USD</span></a>
                                            <ul>
                                                <li><a href="login.html">USD - US Dollar</a></li>
                                                <li><a href="wishlist.html">CAD - Canada Dollar</a></li>
                                                <li><a href="register.html">EUR - Euro</a></li>
                                                <li><a href="account.html">GBP - British Pound</a></li>
                                                <li><a href="wishlist.html">INR - Indian Rupee</a></li>
                                                <li><a href="wishlist.html">BDT - Bangladesh Taka</a></li>
                                                <li><a href="wishlist.html">JPY - Japan Yen</a></li>
                                                <li><a href="wishlist.html">AUD - Australian Dollar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="d-none--- ">
                                <!-- header-search-1 -->
                                <div class="header-search-wrap d-block d-xl-none">
                                    <div class="header-search-1">
                                        <div class="search-icon">
                                            <i class="icon-search  for-search-show"></i>
                                            <i class="icon-cancel  for-search-close"></i>
                                        </div>
                                    </div>
                                    <div class="header-search-1-form">
                                        <form id="#" method="get" action="#">
                                            <input type="text" name="search" value="" placeholder="Search here..."/>
                                            <button type="submit">
                                                <span><i class="icon-search"></i></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="d-none---">
                                <!-- user-menu -->
                                <div class="ltn__drop-menu user-menu">
                                    <ul>

                                        <li th:if="${session.username!=null}">
                                            <a href="#" th:text="${session.username.getUserName()}"></a>
                                            <ul>
                                                <li><a href="/logout">Logout</a></li>
                                            </ul>
                                        </li>
                                        <li th:if="${session.username==null}">
                                            <a href="#"><i class="icon-user"></i></a>
                                            <ul>
                                                <li><a th:href="@{/login}">Sign in</a></li>
                                                <li><a th:href="@{/register}">Register</a></li>
                                                <li><a href="account.html">My Account</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <!-- mini-cart 2 -->
                                <div class="mini-cart-icon mini-cart-icon-2">
                                    <a th:href="@{/cart}" class="ltn__utilize-toggle"  onclick="window.location.href='/cart'; return false;">
                                            <span class="mini-cart-icon">
                                                <i class="icon-shopping-cart"></i>
                                                <sup></sup>
                                            </span>
                                        <h6><span>Your Cart</span> <span class="ltn__secondary-color">$89.25</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-middle-area end -->

    <!-- MOBILE MENU START -->
    <div class="mobile-header-menu-fullwidth mb-20 d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Mobile Menu Button -->
                    <div class="mobile-menu-toggle d-lg-none">
                        <span>MENU</span>
                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                            <svg viewBox="0 0 800 600">
                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                      id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                      id="bottom"
                                      transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MOBILE MENU END -->

    <!-- header-bottom-area start -->
    <div class="header-bottom-area ltn__border-top--- ltn__header-sticky  ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none--- d-lg-block"
         style="background-color: #a6c9e2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 align-self-center">
                    <!-- CATEGORY-MENU-LIST START -->
                    <div class="ltn__category-menu-wrap ltn__category-dropdown-hide ltn__category-menu-with-header-menu">

                        <div class="ltn__category-menu-toggle ltn__one-line-active">
                            <ul>
                                <!-- Submenu Column - unlimited -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-shopping-bags"></i>Vegetables and Fruits </a>
                                    <ul class="ltn__category-submenu ltn__category-column-5">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches Clutches Clutches Clutches </a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Fresh
                                            Meat</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Fish
                                            and Seafood</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu Column - 4 -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-options"></i>Fresh Meat </a>
                                    <ul class="ltn__category-submenu ltn__category-column-4">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu Column - 3 -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-award"></i>Fish and Seafood</a>
                                    <ul class="ltn__category-submenu ltn__category-column-3">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu Column - 2 -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-user"></i>Butter and Cream</a>
                                    <ul class="ltn__category-submenu ltn__category-column-2">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-shopping-cart"></i>Oil and Vinegar</a>
                                    <ul class="ltn__category-submenu">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-tag"></i>Breads</a>
                                    <ul class="ltn__category-submenu">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-shopping-bags"></i>Apple Juice </a>
                                    <ul class="ltn__category-submenu">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Submenu -->
                                <li class="ltn__category-menu-item ltn__category-menu-drop">
                                    <a href="shop.html"><i class="icon-options"></i>Dry Nuts</a>
                                    <ul class="ltn__category-submenu">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Show more menu -->
                                <li class="ltn__category-menu-more-item-child">
                                    <a href="shop.html"><i class="icon-shopping-bags"></i>Apple Juice</a>
                                    <ul class="ltn__category-submenu">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ltn__category-menu-more-item-child">
                                    <a href="shop.html"><i class="icon-options"></i>Dry Nuts</a>
                                    <ul class="ltn__category-submenu">
                                        <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="#">Handbags</a>
                                            <ul class="ltn__category-submenu-children">
                                                <li><a href="#">Clutches</a></li>
                                                <li><a href="#">Cross Body</a></li>
                                                <li><a href="#">Satchels</a></li>
                                                <li><a href="#">Sholuder</a></li>
                                                <li><a href="#">Toter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="ltn__category-menu-more-item-parent">
                                    <a class="rx-default">
                                        More categories <span class="cat-thumb  icon-plus"></span>
                                    </a>
                                    <a class="rx-show">
                                        close menu <span class="cat-thumb  icon-remove"></span>
                                    </a>
                                </li>
                                <!-- Single menu end -->
                            </ul>
                        </div>
                    </div>
                    <!-- END CATEGORY-MENU-LIST -->
                </div>
                <div class="col-lg-7">
                    <div class="col--- header-menu-column justify-content-center---">
                        <div class="header-menu header-menu-2 text-start">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li class="menu-icon"><a href="/">Home</a>

                                        </li>
                                        <li class="menu-icon"><a href="#">About</a>

                                        </li>
                                        <li class="menu-icon"><a href="/product-home">Shop</a>

                                        </li>
                                        <li class="menu-icon"><a href="#">News</a>

                                        </li>
                                        <li class="menu-icon"><a href="#">Pages</a>

                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 align-self-center d-none d-xl-block">
                    <div class="header-contact-info text-end">
                        <a class="font-weight-6 ltn__primary-color" href="tel:+0963876226"><span
                                class="ltn__secondary-color"><i class="icon-call font-weight-7"></i></span>
                            0963-876-226</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom-area end -->
</header>