<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SHOP-PHONE</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" th:href="@{/css/font-icons.css}">
    <!-- plugins css -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>